<app-page-header title="Error 404" />

<div class="error-area sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto text-center">
                <div class="image">
                    <img src="assets/img/others/error.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading1 mt-50">
                    <h2 class="black1 text-44 sm:text-30 md:text-30 leading-44 font-semibold text-anime-style-3">¡Ups!
                        Página no encontrada</h2>
                    <p class="text-18 leading-26 font-medium gray1 mt-16">Parece que la página que intentas
                        visitar ya no está disponible o ha sido movida. No te preocupes, puedes volver al inicio para continuar explorando nuestros servicios legales.</p>
                    <div class="button text-center mt-40">
                        <a class="theme-btn1" routerLink="/home-1"><span class="text">volver al inicio</span><span
                                class="arrow-all"><span class="arrow1"><i
                                        class="fas fa-arrow-right"></i></span><span class="arrow2"><i
                                        class="fas fa-arrow-right"></i></span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>