<div class="service3 sp bg-cover" style="background-image: url(assets/img/bg/hero3-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading3">
                    <span class="white1 leading-18 text-18 mb-16 inline-block font-semibold uppercase sub-title3-w">our finance services</span>
                    <h2 class="white1 text-44 sm:text-30 md:text-30 leading-44 font-semibold text-anime-style-3">Unlock Financial Potential</h2>
                </div>
            </div>
        </div>
        <div class="row mt-30">
         <div class="col-lg-4 col-mg-6" data-aos="zoom-in-up" data-aos-duration="800">
            <div class="service3-box mt-30">
               <div class="icon">
                  <img src="assets/img/icons/service3-icon1.svg" alt="">
                  <img src="assets/img/shapes/service3-icon-shape.svg" alt="" class="icon-shape">
               </div>
               <div class="content-area">
                  <h4><a routerLink="/service-details" class="black2 font-24 text _hover4 leading-24 mt-30 inline-block font-semibold">Invest Management</a></h4>
                  <p class="text-18 leading-26 font-medium gray6 mt-16">We are understand that navigating on the complexities finances daunting. Our team  seasoned financial advisors is dedicated.</p>
                  <a class="learn2" routerLink="/service-details"><span class="arrow-all"><span class="arrow1"><i class="fas fa-arrow-right"></i></span><span class="arrow2"><i class="fas fa-arrow-right"></i></span></span></a>
               </div>
            </div>

            <div class="service3-box mt-60">
               <div class="icon">
                  <img src="assets/img/icons/service3-icon2.svg" alt="">
                  <img src="assets/img/shapes/service3-icon-shape.svg" alt="" class="icon-shape">
               </div>
               <div class="content-area">
                  <h4><a routerLink="/service-details" class="black2 font-24 text _hover4 leading-24 mt-30 inline-block font-semibold">Financial Growing</a></h4>
                  <p class="text-18 leading-26 font-medium gray6 mt-16">We are guided startups in securing $1.5 million in funding, optimized tax strategies for high-net-worth individuals, and even.</p>
                  <a class="learn2" routerLink="/service-details"><span class="arrow-all"><span class="arrow1"><i class="fas fa-arrow-right"></i></span><span class="arrow2"><i class="fas fa-arrow-right"></i></span></span></a>
               </div>
            </div>
          </div>

          <div class="col-lg-4 col-mg-6" data-aos="zoom-in-up" data-aos-duration="1000">
            <div class="service3-box mt-30">
               <div class="icon">
                  <img src="assets/img/icons/service3-icon3.svg" alt="">
                  <img src="assets/img/shapes/service3-icon-shape.svg" alt="" class="icon-shape">
               </div>
               <div class="content-area">
                  <h4><a routerLink="/service-details" class="black2 font-24 text _hover4 leading-24 mt-30 inline-block font-semibold">WealthWise Consulting</a></h4>
                  <p class="text-18 leading-26 font-medium gray6 mt-16">We developed a comprehensive risk and management plan, including financial best hedging strategies and scenario planning.</p>
                  <a class="learn2" routerLink="/service-details"><span class="arrow-all"><span class="arrow1"><i class="fas fa-arrow-right"></i></span><span class="arrow2"><i class="fas fa-arrow-right"></i></span></span></a>
               </div>
               <div class="image-area pb-30">
                  <div class="image">
                     <img class="w-full" src="assets/img/service/service3-image.png" alt="">
                  </div>
               </div>
            </div>
          </div>

          <div class="col-lg-4 col-mg-6" data-aos="zoom-in-up" data-aos-duration="1200">
            <div class="service3-box mt-30">
               <div class="icon">
                  <img src="assets/img/icons/service3-icon4.svg" alt="">
                  <img src="assets/img/shapes/service3-icon-shape.svg" alt="" class="icon-shape">
               </div>
               <div class="content-area">
                  <h4><a routerLink="/service-details" class="black2 font-24 text _hover4 leading-24 mt-30 inline-block font-semibold">Financial Navigators</a></h4>
                  <p class="text-18 leading-26 font-medium gray6 mt-16">At Advicx, we’ve helped businesses an individuals across industries achieve on financial success through best solution.</p>
                  <a class="learn2" routerLink="/service-details"><span class="arrow-all"><span class="arrow1"><i class="fas fa-arrow-right"></i></span><span class="arrow2"><i class="fas fa-arrow-right"></i></span></span></a>
               </div>
            </div>

            <div class="service3-box mt-60">
               <div class="icon">
                  <img src="assets/img/icons/service3-icon5.svg" alt="">
                  <img src="assets/img/shapes/service3-icon-shape.svg" alt="" class="icon-shape">
               </div>
               <div class="content-area">
                  <h4><a routerLink="/service-details" class="black2 font-24 text _hover4 leading-24 mt-30 inline-block font-semibold">Horizon Wealth Advisors</a></h4>
                  <p class="text-18 leading-26 font-medium gray6 mt-16">Whether you’re looking to reduce debt, optimize investments, or navigate best on complex merger, we have the experience.</p>
                  <a class="learn2" routerLink="/service-details"><span class="arrow-all"><span class="arrow1"><i class="fas fa-arrow-right"></i></span><span class="arrow2"><i class="fas fa-arrow-right"></i></span></span></a>
               </div>
            </div>
          </div>

        </div>
    </div>
 </div>
