<div class="sidebar-area">
    <div class="_sidebar-widget _search">
        <h3>Search</h3>
        <form action="#" class="_relative">
            <input type="search" placeholder="Search...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <div class="_sidebar-widget _list mt-40">
        <h3>Our Service</h3>
        <div class="sidebar-list">
            <ul>
                <li *ngFor="let service of services">
                  <a routerLink="/service-details">
                    {{ service }} 
                    <span><i class="fa-solid fa-angle-right"></i></span>
                  </a>
                </li>
              </ul>
        </div>
    </div>
    <div class="_sidebar-widget _recent mt-40">
        <h3>Our Recent Blog</h3>
        <div class="recent-blog">
            <div class="recent-blog-post" *ngFor="let blog of recentBlogs">
              <div>
                <div class="image">
                  <img [src]="blog.image" alt="">
                </div>
              </div>
              <div class="content">
                <a href="javascript:void(0)" class="date">
                  <img src="assets/img/icons/blog1-date.svg" alt=""> {{ blog.date }}
                </a>
                <h4><a routerLink="/blog-details">{{ blog.title }}</a></h4>
              </div>
            </div>
          </div>
          
    </div>
    <div class="_sidebar-widget _tags mt-40">
        <h3>Popular Tags</h3>
        <div class="tags-list">
            <ul>
                <li *ngFor="let tag of tags">
                    <a href="javascript:void(0)">{{ tag }}</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="_sidebar-widget _author mt-40">
        <h3>Author</h3>
        <div class="author-images">
            <ul>
                <li *ngFor="let img of authorImages">
                    <img [src]="img" alt="">
                </li>
            </ul>
        </div>
    </div>

</div>