<footer class="sec-bg1 vl-footer-area1">

    <div>
       <div class="container">
          <div class="row">
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="vl-footer-widget mb-50">
                   <div class="vl-footer-logo black-logo">
                      <a routerLink="/home-1"><img src="assets/img/logo/logo_vera.png" alt="Vera Villamizar Logo" style="max-width: 180px; height: auto;"></a>
                   </div>
                   <div class="white-logo">
                      <a routerLink="/home-1"><img src="assets/img/logo/white-logo.png" alt="Vera Villamizar Logo"></a>
                   </div>
                   <div class="vl-footer-text">
                      <p class="gray1 text-18 leading-28 mt-16 font-medium">Expertos en Derecho del Trabajo, Pensiones y Riesgos Laborales. Brindamos soluciones jurídicas efectivas con responsabilidad y confianza.</p>
                   </div>
                   <div class="vl-copyright-social text-start mt-20 d-flex align-items-center flex-wrap gap-1">
                      <a href="https://www.facebook.com/veravillamizarabogados" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                      <a href="https://www.instagram.com/veravillamizar_abogados/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                      <a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i></a>
                      <a href="javascript:void(0)"><i class="fa-brands fa-x-twitter"></i></a>
                   </div>
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="vl-footer-widget mb-50 ml-70 md:ml-0 sm:ml-0">
                   <h4 class="black1 text-24 mb-30 leading-24 mb-10 font-semibold">Enlaces Rápidos</h4>
                   <div class="vl-footer-list">
                      <ul>
                         <li><a routerLink="/pages/about" class="gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">La Firma</a></li>
                         <li><a routerLink="/our-services" class="gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">Nuestros Servicios</a></li>
                         <li><a routerLink="/case-study" class="gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">Recursos Docentes</a></li>
                         <li><a routerLink="/blog/grid-3" class="gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">Blog Jurídico</a></li>
                         <li><a routerLink="/contact" class="gray2 p-10-0 inline-block text-18 leading-18 text _hover1 font-medium">Contáctenos</a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="vl-footer-widget mb-50 ml-10 md:ml-0 sm:ml-0">
                   <h4 class="black1 text-24 mb-30 leading-24 mb-8 font-semibold">Contacto</h4>
                   <div class="vl-footer-contact">
                      <div class="single-contact flex align-items-center">
                         <div class="icon">
                            <img src="assets/img/icons/footer1-icon1.svg" alt="">
                         </div>
                         <div class="text">
                            <a href="tel:+573157189078" class="ml-10 gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">+57 315 718 9078</a>
                         </div>
                      </div>
 
                      <div class="single-contact flex align-items-center mt-6">
                         <div class="icon">
                            <img src="assets/img/icons/footer1-icon2.svg" alt="">
                         </div>
                         <div class="text">
                            <a href="javascript:void(0)" class="ml-10 gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">Bucaramanga, Colombia</a>
                         </div>
                      </div>
 
                      <div class="single-contact flex align-items-center mt-6">
                         <div class="icon">
                            <img src="assets/img/icons/footer1-icon3.svg" alt="">
                         </div>
                         <div class="text">
                            <a href="mailto:info@veravillamizarabogados.com" class="ml-10 gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">info&#64;veravillamizarabogados.com</a>
                         </div>
                      </div>
 
                      <div class="single-contact flex align-items-center mt-6">
                         <div class="icon">
                            <img src="assets/img/icons/footer1-icon1.svg" alt="">
                         </div>
                         <div class="text">
                            <a href="javascript:void(0)" class="ml-10 gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">Lun - Vie: 8AM - 6PM</a>
                         </div>
                      </div>
 
                   </div>
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="vl-footer-widget mb-50 ml-60 sm:ml-0 md:ml-0">
                   <h4 class="black1 text-24 mb-30 leading-24 mb-10 font-semibold">Instagram</h4>
                   <div class="vl-footer-thumb-wrap pt-10">
                      <div class="vl-footer-thumb-box d-flex">
                         <div class="vl-footer-thumb _relative">
                            <img class="w-full" src="assets/img/team/jorge2.jpg" alt="">
                            <div class="vl-footer-thumb-icon">
                               <a href="https://www.instagram.com/veravillamizar_abogados/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                         </div>
                         <div class="vl-footer-thumb _relative">
                            <img src="assets/img/team/daniela2.png" alt="">
                            <div class="vl-footer-thumb-icon">
                               <a href="https://www.instagram.com/veravillamizar_abogados/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                         </div>
                         <div class="vl-footer-thumb _relative">
                            <img src="assets/img/team/jorge2.jpg" alt="">
                            <div class="vl-footer-thumb-icon">
                               <a href="https://www.instagram.com/veravillamizar_abogados/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                         </div>
                      </div>
                      <div class="vl-footer-thumb-box d-flex">
                         <div class="vl-footer-thumb _relative">
                            <img src="assets/img/team/Jorge.jpg" alt="">
                            <div class="vl-footer-thumb-icon">
                               <a href="https://www.instagram.com/veravillamizar_abogados/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                         </div>
                         <div class="vl-footer-thumb _relative">
                            <img src="assets/img/team/daniela.png" alt="">
                            <div class="vl-footer-thumb-icon">
                               <a href="https://www.instagram.com/veravillamizar_abogados/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                         </div>
                         <div class="vl-footer-thumb _relative">
                            <img src="assets/img/team/jorge2.jpg" alt="">
                            <div class="vl-footer-thumb-icon">
                               <a href="https://www.instagram.com/veravillamizar_abogados/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 
       <div class="container">
          <div class="row vl-copyright1 _dv-top">
             <div class="col-xl-6 m-auto text-center">
                <p class="black1 text-18 leading-18 font-medium p-24-0">© Copyright 2025 - Vera Villamizar Abogados. Todos los derechos reservados</p>
             </div>
          </div>
       </div>
 
 </footer>