<footer class="sec-bg1 vl-footer-area1">

    <div>
       <div class="container">
          <div class="row">
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="vl-footer-widget mb-50">
                   <div class="vl-footer-logo black-logo">
                      <a routerLink="/home-1"><img src="assets/img/logo/header-logo1.png" alt=""></a>
                   </div>
                   <div class="white-logo">
                      <a routerLink="/home-1"><img src="assets/img/logo/white-logo.png" alt=""></a>
                   </div>
                   <div class="vl-footer-text">
                      <p class="gray1 text-18 leading-28 mt-16 font-medium">Desires to obtain pain of it because it is pain but occasionally circum We work with a passion of challenges </p>
                   </div>
                   <div class="vl-copyright-social text-start mt-20 d-flex align-items-center flex-wrap gap-1">
                      <a href="javascript:void(0)"><i class="fa-brands fa-facebook-f"></i></a>
                      <a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a>
                      <a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i></a>
                      <a href="javascript:void(0)"><i class="fa-brands fa-x-twitter"></i></a>
                   </div>
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="vl-footer-widget mb-50 ml-70 md:ml-0 sm:ml-0">
                   <h4 class="black1 text-24 mb-30 leading-24 mb-10 font-semibold">Quick Links</h4>
                   <div class="vl-footer-list">
                      <ul>
                         <li><a routerLink="/about" class="gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">About Us</a></li>
                         <li><a routerLink="/service" class="gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">Our Services</a></li>
                         <li><a href="javascript:void(0)" class="gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">Case Studies</a></li>
                         <li><a href="javascript:void(0)" class="gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">Pricing Plan</a></li>
                         <li><a routerLink="/contact" class="gray2 p-10-0 inline-block text-18 leading-18 text _hover1 font-medium">Contact Us</a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="vl-footer-widget mb-50 ml-10 md:ml-0 sm:ml-0">
                   <h4 class="black1 text-24 mb-30 leading-24 mb-8 font-semibold">Contact Us</h4>
                   <div class="vl-footer-contact">
                      <div class="single-contact flex align-items-center">
                         <div class="icon">
                            <img src="assets/img/icons/footer1-icon1.svg" alt="">
                         </div>
                         <div class="text">
                            <a href="tel:+11234567890" class="ml-10 gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">+1 123 456 7890</a>
                         </div>
                      </div>
 
                      <div class="single-contact flex align-items-center mt-6">
                         <div class="icon">
                            <img src="assets/img/icons/footer1-icon2.svg" alt="">
                         </div>
                         <div class="text">
                            <a href="javascript:void(0)" class="ml-10 gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">421 Allen, Mexico 4233</a>
                         </div>
                      </div>
 
                      <div class="single-contact flex align-items-center mt-6">
                         <div class="icon">
                            <img src="assets/img/icons/footer1-icon3.svg" alt="">
                         </div>
                         <div class="text">
                            <a href="mailto:advicxconsult@com" class="ml-10 gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">advicxconsult&#64;com</a>
                         </div>
                      </div>
 
                      <div class="single-contact flex align-items-center mt-6">
                         <div class="icon">
                            <img src="assets/img/icons/footer1-icon1.svg" alt="">
                         </div>
                         <div class="text">
                            <a href="javascript:void(0)" class="ml-10 gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">+1 123 456 7890</a>
                         </div>
                      </div>
 
                   </div>
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="vl-footer-widget mb-50 ml-60 sm:ml-0 md:ml-0">
                   <h4 class="black1 text-24 mb-30 leading-24 mb-10 font-semibold">Instagram Post</h4>
                   <div class="vl-footer-thumb-wrap pt-10">
                      <div class="vl-footer-thumb-box d-flex">
                         <div class="vl-footer-thumb _relative">
                            <img class="w-full" src="assets/img/blog-posts/instagram-feed-1.png" alt="">
                            <div class="vl-footer-thumb-icon">
                               <a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                         </div>
                         <div class="vl-footer-thumb _relative">
                            <img src="assets/img/blog-posts/instagram-feed-2.png" alt="">
                            <div class="vl-footer-thumb-icon">
                               <a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                         </div>
                         <div class="vl-footer-thumb _relative">
                            <img src="assets/img/blog-posts/instagram-feed-3.png" alt="">
                            <div class="vl-footer-thumb-icon">
                               <a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                         </div>
                      </div>
                      <div class="vl-footer-thumb-box d-flex">
                         <div class="vl-footer-thumb _relative">
                            <img src="assets/img/blog-posts/instagram-feed-4.png" alt="">
                            <div class="vl-footer-thumb-icon">
                               <a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                         </div>
                         <div class="vl-footer-thumb _relative">
                            <img src="assets/img/blog-posts/instagram-feed-5.png" alt="">
                            <div class="vl-footer-thumb-icon">
                               <a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                         </div>
                         <div class="vl-footer-thumb _relative">
                            <img src="assets/img/blog-posts/instagram-feed-6.png" alt="">
                            <div class="vl-footer-thumb-icon">
                               <a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 
       <div class="container">
          <div class="row vl-copyright1 _dv-top">
             <div class="col-xl-6 m-auto text-center">
                <p class="black1 text-18 leading-18 font-medium p-24-0">© Copyright 2024 -Advicx. All Right Reserved</p>
             </div>
          </div>
       </div>
 
 </footer>