<div class="consultation bg-cover" style="background-image: url(assets/img/bg/cta2-bg.jpg);">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-6">
             <div class="heading2">
                <span data-aos="fade-left" data-aos-duration="800" class="white1 sub-title2 text-18 leading-18 inline-block black3 uppercase mb-20 font-medium"><img src="assets/img/icons/span1.svg" alt="">our case studies</span>
                <h2 class="white1 text-44 sm:text-30 md:text-30 leading-44 font-semibold text-anime-style-3">Explore Client Case Studies</h2>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="row md:mt-30">
                <div class="col-md-6" data-aos="fade-up" data-aos-duration="900">
                   <div class="consultation-box">
                      <div class="icon">
                         <img src="assets/img/icons/consultation2-icon1.svg" alt="">
                      </div>
                      <div class="text">
                         <p>Call Us 24/7</p>
                         <a href="tel:+1234567890">+123 456 7890</a>
                      </div>
                   </div>
                </div>

                <div class="col-md-6" data-aos="fade-up" data-aos-duration="1100">
                   <div class="consultation-box sm:mt-20">
                      <div class="icon">
                         <img src="assets/img/icons/consultation2-icon2.svg" alt="">
                      </div>
                      <div class="text">
                         <p>Mail Us Anytime</p>
                         <a href="mailto:Lawsy@gmail.com">Advicx&#64;gmail.com</a>
                      </div>
                   </div>
                </div>

             </div>
          </div>
       </div>
       
    </div>
 </div>