<div class="contact4 sp shape-bg4 _relative">
    <div class="container _relative z-3">
       <div class="row">
          <div class="col-lg-6 m-auto text-center">
             <div class="heading4">
                <span data-aos="fade-left" data-aos-duration="900" class="sub-title4">Contact Us</span>
                <h2 class="black3 text-44 sm:text-30 md:text-30 leading-52 md:leading-36 sm:leading-36 font-semibold text-anime-style-3">Get In Touch With Advicx</h2>
             </div>
          </div>
       </div>
       <div class="contact4-form-area mt-60">
          <div class="row align-items-center">
             <div class="col-lg-7">
                <div class="form">
                   <h3>Send Us A Message</h3>
                   <p>Our response time is within 30 minutes during business hours</p>
                   <form action="#">
                      <div class="row">
                         <div class="col-md-6">
                            <div class="single-input">
                               <input type="text" placeholder="First Name">
                            </div>
                         </div>
                         <div class="col-md-6">
                            <div class="single-input">
                               <input type="text" placeholder="Last Name">
                            </div>
                         </div>
                         <div class="col-md-6">
                            <div class="single-input">
                               <input type="number" placeholder="Phone Number">
                            </div>
                         </div>
                         <div class="col-md-6">
                            <div class="single-input">
                               <input type="email" placeholder="Email Address">
                            </div>
                         </div>
                         <div class="col-md-12">
                            <div class="single-input">
                               <select class="wide" appNiceSelect>
                                  <option>Service Type</option>
                                  <option>Service Type</option>
                                  <option>Service Type</option>
                               </select>
                            </div>
                         </div>
                         <div class="col-md-12">
                            <div class="single-input">
                               <textarea rows="5" placeholder="Message"></textarea>
                            </div>
                            <div class="button mt-30 text-end">
                               <button class="theme-btn5" type="button"><span class="text">Discover Our Solutions</span><span class="arrow-all"><span class="arrow1"><img src="assets/img/icons/button4-arrow.svg" alt=""></span><span class="arrow2"><img src="assets/img/icons/button4-arrow.svg" alt=""></span></span></button>
                            </div>
                         </div>
                      </div>
                   </form>
                </div>
             </div>
             <div class="col-lg-5">
                <div class="" data-aos="fade-left" data-aos-duration="800">
                   <div class="contact4-box">
                      <div class="">
                         <div class="icon">
                            <img src="assets/img/icons/contact4-icon1.svg" alt="">
                         </div>
                      </div>
                      <div class="text">
                         <h4>Our Location</h4>
                         <a href="javascript:void(0)">8708 Technology Forest Pl Suite 125 -G, The Woodlands, TX 77381</a>
                      </div>
                   </div>
                </div>

                <div class="" data-aos="fade-left" data-aos-duration="1000">
                   <div class="contact4-box mt-30">
                      <div class="">
                         <div class="icon">
                            <img src="assets/img/icons/contact4-icon2.svg" alt="">
                         </div>
                      </div>
                      <div class="text">
                         <h4>Call Or Text</h4>
                         <a href="tel:123-456-7890">123-456-7890</a>
                      </div>
                   </div>   
                </div>

                <div class="" data-aos="fade-left" data-aos-duration="1200">
                   <div class="contact4-box mt-30">
                      <div class="">
                         <div class="icon">
                            <img src="assets/img/icons/contact4-icon3.svg" alt="">
                         </div>
                      </div>
                      <div class="text">
                         <h4>Email Us Today</h4>
                         <a href="mailto:info@advicxconsult.com">info&#64;advicxconsult.com</a>
                      </div>
                   </div>
                </div>

             </div>
          </div>
       </div>
    </div>
    <img src="assets/img/shapes/team4-shape2.png" alt="" class="shape">
 </div>