<div class="service2 sp shape-bg2 z-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 z-1">
                <div class="heading2">
                    <span data-aos="fade-left" data-aos-duration="800"
                        class="sub-title2 text-18 leading-18 inline-block black3 uppercase mb-20 font-medium"><img
                            src="assets/img/icons/span2.svg" alt="">Our Services</span>
                    <h2 class="black3 text-44 sm:text-30 md:text-30 leading-44 font-semibold text-anime-style-3">
                        Discover How Our Service Transform Your Business</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div data-aos="fade-up" data-aos-duration="800"
                    class="servie2-arrow-buttons text-end _relative z-3 sm:text-start md:text-start">
                    <button class="service2-prev-arrow"><i class="fa-solid fa-angle-left"></i></button>
                    <button class="service2-next-arrow"><i class="fa-solid fa-angle-right"></i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-30 z-1" data-aos="fade-up" data-aos-duration="1000">
                <ngx-slick-carousel [config]="sliderConfig" class="service2-slider pt-30">
                    <div ngxSlickItem class="service2-single-slider" *ngFor="let service of services">
                        <div class="image">
                            <img [src]="service.image" alt="" />
                            <a routerLink="/service-details" class="arrow"><i class="fas fa-arrow-right"></i></a>
                        </div>
                        <div class="icon">
                            <img [src]="service.icon" alt="" />
                        </div>
                        <h4>
                            <a routerLink="/service-details"
                                class="black3 mt-20 inline-block font-20 text _hover3 leading-20 font-semibold uppercase">
                                {{ service.title }}
                            </a>
                        </h4>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</div>