<article>
    <div class="details-content">
        <div class="image">
            <img src="assets/img/service/service-details-image1.png" alt="">
        </div>
        <div class="heading mt-30">
            <h2 class="black1 text-38 sm:text-30 md:text-30 leading-38 font-semibold text-anime-style-3">Business Strategy Planning</h2>
            <p class="black2 font-18 leading-26 gray1 font-medium mt-16">In today's fast-evolving business landscape, having a clear, actionable strategy is key to sustainable success. Our Business Strategy and Planning services are designed to help companies define their vision, set achievable goals, and develop a structured.</p>
        </div>
        <div class="row mt-10">
            <div class="col-lg-4 col-md-6" *ngFor="let service of services">
              <ul>
                <li class="detials-check-list">
                  <span class="check"><i class="fa-solid fa-check"></i></span> {{ service }}
                </li>
              </ul>
            </div>
          </div>
          
    </div>
</article>

<article>
    <div class="details-content mt-50">
        <div class="row">
            <div class="col-md-6">
                <div class="image">
                    <img src="assets/img/service/service-details-image2.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="image">
                    <img src="assets/img/service/service-details-image3.png" alt="">
                </div>
            </div>
        </div>
        <div class="heading mt-30">
            <h2 class="black1 text-32 sm:text-30 md:text-30 leading-32 font-semibold">New Opportunities Tailored Strategic Planning</h2>
            <p class="black2 font-18 leading-26 gray1 font-medium mt-16">Every business is unique, and so are the challenges and opportunities it faces. Our on tailored Strategic Planning services are designed to help you unlock new avenues for growth and success. We don’t believe in one-size-fits-all solutions; instead, we take.</p>
            <p class="black2 font-18 leading-26 gray1 font-medium mt-16">We don’t believe in one-size-fits-all solutions; instead, we take a customize approach to understand your specific goals, market position, and competitive landscape. By on combining in-depth market research, data analysis, an our extensive best consulting.</p>
        </div>
    </div>
</article>

<article>
    <div class="details-content mt-50">
        <div class="heading mt-30">
            <h2 class="black1 pb-20 text-32 sm:text-30 md:text-30 leading-32 font-semibold">Frequently Asked Question (FAQ)</h2>
        </div>

        <div ngbAccordion [closeOthers]="true" class="accordion accordion1" id="accordionExample">
            <div *ngFor="let faq of faqData1;let i =index" [collapsed]="i !== activeItemIndex"
            [class.active]="i === activeItemIndex" (shown)="activeItemIndex = i" ngbAccordionItem="{{i}}" class="accordion-item"> 
              <h2 ngbAccordionHeader class="accordion-header" id="headingOne">
                <button ngbAccordionButton class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 {{faq.question}}
                </button>
              </h2>
              <div id="collapseOne" ngbAccordionCollapse aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body" ngbAccordionBody>
                  {{faq.answer}}
                </div>
              </div>
            </div>
          </div>

    </div>
</article>