<app-page-header title="Blog Sidebar Izquierda" />
<div class="blog-sidebar-page sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <app-blog-sidebar />
            </div>
            <div class="col-lg-8">
                <div class="row ml-30 sm:ml-0 md:ml-0 sm:mt-30 md:mt-30" style="margin-top: -30px;">
                        <div *ngFor="let blog of blogs.slice(0,8)" class="col-md-6" >
                            <app-blog-card [blog]="blog" />
                        </div>
                </div>

                <div class="space50"></div>
                <div class="row">
                    <div class="col-12 m-auto">
                        <app-pagination />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>