<div class="case1-box mt-30" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
    <div class="image">
       <img style="object-fit: cover; object-position: top; height: 100%; width: 100%;" [src]="case.image" alt="">
    </div>
    <div class="content-area">
       <a href="javascript:void(0)" class="arrow"><i class="fas fa-arrow-right"></i></a>
       <p class="black2 font-18 leading-18 font-medium mt-16 mb-16">{{case.title}}</p>
       <h4><a href="javascript:void(0)" class="black2 font-24 text _hover1 leading-24 font-semibold">{{case.category}}</a></h4>
    </div>
 </div>