<div class="choose2 sp shape-bg2 z-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading2">
                    <span data-aos="fade-left" data-aos-duration="800"
                        class="sub-title2 text-18 leading-18 inline-block black3 uppercase mb-20 font-medium"><img
                            src="assets/img/icons/span2.svg" alt="">Why Choose advicx?</span>
                    <h2 class="black3 text-44 sm:text-30 md:text-30 leading-44 font-semibold text-anime-style-3">Why
                        Advicx is Your Trusted Partner for Business Success</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="choose-text-box add-after" data-aos="zoom-out" data-aos-duration="800">
                            <h3>14+</h3>
                            <p>Years Industry Experience</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="choose-text-box add-after2" data-aos="zoom-out" data-aos-duration="1000">
                            <h3>98%</h3>
                            <p>Client Success An Satisfaction Rate</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="choose-text-box" data-aos="zoom-out" data-aos-duration="1200">
                            <h3>10+</h3>
                            <p>Global Reach In Countries </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-20 align-items-center">
            <div class="col-lg-4 mt-40">
                <div class="choose2-items-area">
                    <div class="check-items ml-50 left-side md:ml-0 sm:m-0 md:mr-30 sm:mr-30">
                        <div class="check">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <p>Tailored Solutions</p>
                    </div>

                    <div class="check-items mt-50 left-side sm:mt-30">
                        <div class="check">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <p>Proven Expertise</p>
                    </div>

                    <div class="check-items mt-50 ml-50 sm:mt-30 left-side md:ml-0 sm:ml-0">
                        <div class="check">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <p>Innovative Thinking</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="main-image-area mt-40 _relative z-3" data-aos="zoom-out" data-aos-duration="800">
                    <img class="w-full" src="assets/img/others/choose2-image.png" alt="">
                </div>
                <div class="bottom-icon-box">
                    <div class="icon">
                        <img src="assets/img/icons/choose2-icon.svg" alt="">
                    </div>
                    <div class="heading2">
                        <h3>Business Growth</h3>
                        <p>90.65% Growth Per year</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="choose2-items-area text-end sm:text-start md:text-start">
                    <div class="check-items mr-50 right-side sm:mt-30">
                        <div class="check">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <p>Data-Driven Approach</p>
                    </div>

                    <div class="check-items mt-50 right-side">
                        <div class="check">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <p>Proven Track Record</p>
                    </div>

                    <div class="check-items mt-50 mr-50 right-side">
                        <div class="check">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <p>Sustainable Growth</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>