<div class="cta3 bg-cover" style="background-image: url(assets/img/bg/cta3-bg.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="heading-w">
                   <h2 class="white1 text-44 sm:text-30 md:text-30 leading-44 font-semibold text-anime-style-3">Get Expert Guidance To Secure Financial Goals</h2>
                   <p class="text-18 leading-26 font-medium gray5 mt-16">We understand that navigating the complexities the finance can be overwhelming, that’s why our team. </p>
                   <div class="buttons mt-30">
                    <a class="theme-btn3" routerLink="/service"><span class="text">Schedule a Consultation</span></a>
                    <a class="theme-btn4 ml-16 sm:ml-0 md:ml-0 md:mt-20 sm:mt-20" routerLink="/contact"><span class="text">Contact Us</span></a>
                   </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="images">
                    <div class="image">
                        <img src="assets/img/others/cta3-image.png" alt="">
                    </div>
                    <div class="shape1">
                        <img src="assets/img/shapes/cta3-shape1.png" alt="">
                    </div>
                    <div class="shape2 animate1">
                        <img src="assets/img/shapes/cta3-shape2.png" alt="">
                    </div>
                    <div class="shape3 animate3">
                        <img src="assets/img/shapes/cta3-shape3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
