<div class="hero5 bg-cover" style="background-image: url(assets/img/bg/hero5-bg.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="main-heading">
                    <span class="sub-title text-18 leading-18 white1 uppercase mb-20 font-medium"><img
                            src="assets/img/icons/span1.svg" alt=""> Making Insurance Simple and Reliable</span>
                    <h1
                        class="text-56 md:text-40 sm:text-40 leading64 inline-block white1 font-semibold text-anime-style-3">
                        Simplifying Insurance For More Secure Life</h1>
                    <p class="mt-16 text-18 leading-26 inline-block white1">We understand that life can be
                        unpredictable. That why we’re best offer wide range insurance solution of designed provide.</p>
                    <div class="buttons mt-30">
                        <a class="theme-btn7" href="javascript:void(0)"><span class="text">Discover Our Solutions</span><span
                                class="arrow-all"><span class="arrow1"><i
                                        class="fas fa-arrow-right"></i></span><span class="arrow2"><i
                                        class="fas fa-arrow-right"></i></span></span></a>
                        <div class="video-buttton5 play-btn" href="https://www.youtube.com/watch?v=Y8XpQpW5OVY">
                            <a id="play-video" class="video-play-button">
                                <span></span>
                            </a>
                            <p>Play Video</p>
                        </div>
                    </div>
                    <img class="text-shape" src="assets/img/shapes/hero5-text-shape.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero3-images _relative">
                    <div class="main-image">
                        <img src="assets/img/hero/hero5-main.png" alt="">
                    </div>
                    <div class="main-image-bg round-circle">
                        <img src="assets/img/shapes/hero5-shape1.png" alt="">
                    </div>
                    <div class="shape1 animate3">
                        <img src="assets/img/shapes/hero5-shape2.png" alt="">
                    </div>
                    <div class="shape2">
                        <img src="assets/img/shapes/hero5-shape3.png" alt="">
                    </div>
                    <div class="shape3 animate2">
                        <img src="assets/img/shapes/hero5-shape4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>