<app-page-header title="Contactanos" />

<div class="contact-page-sec sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 m-auto text-center">
                <div class="heading">
                    <span data-aos="fade-left" data-aos-duration="900"
                        class="sub-title1 sec-bg2 rounded-6 p-8-12 text-18 leading-18 inline-block sub-text1 uppercase mb-20 font-medium">Asesoría
                        Jurídica Experta</span>
                    <h2 class="black1 text-44 sm:text-30 md:text-30 leading-44 font-semibold text-anime-style-3">
                        Hablemos de sus Necesidades Legales</h2>
                </div>
                <div class="contact-page-boxs">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="contact-page-box">
                                <div class="icon">
                                    <img src="assets/img/icons/contact-page-icon1.svg" alt="">
                                </div>
                                <div class="text">
                                    <h4>Correo Electrónico</h4>
                                    <a href="mailto:advicx@gmail.com">info&#64;veravillamizarabogados.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="contact-page-box">
                                <div class="icon">
                                    <img src="assets/img/icons/contact-page-icon2.svg" alt="">
                                </div>
                                <div class="text">
                                    <h4>Línea Directa</h4>
                                    <a href="https://wa.me/573157189078" target="_blank">+57 315 718 9078</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="contact-page-box">
                                <div class="">
                                    <div class="icon">
                                        <img src="assets/img/icons/contact-page-icon3.svg" alt="">
                                    </div>
                                </div>
                                <div class="text">
                                    <h4>Horario de Atención</h4>
                                    <a href="javascript:void(0)">Lunes / Viernes: 8 AM – 6 PM</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-50">
            <div class="col-lg-6">
                <div class="images-all">
                    <div class="image1">
                        <img width="67%" style="border-radius: 10px;" src="assets/img/about/lawyer_jorge1.jpg" alt="">
                    </div>
                    <div class="image2">
                        <img style="width: 47%;
    display: flex;
    justify-content: initial;
    border: 5px solid white;
    border-radius: 10px;
    margin-top: 40rem;
    transform: scale(1.1)
    " src="assets/img/about/lawyer_daniela1.jpg" alt="">
                    </div>
                    <!-- <div class="shape animate3">
                        <img width="18%" style="margin-right: 37rem; margin-top: -1px;"
                            src="assets/img/shapes/lawyer_icon.png" alt="">
                    </div> -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="details-contact ml-30 sm:ml-0 md:ml-0">
                    <div class="form-area">
                        <h4>Envíenos su Consulta</h4>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-input">
                                        <input type="text" placeholder="Primer Nombre">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-input">
                                        <input type="text" placeholder="Apellido">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-input">
                                        <input type="number" placeholder="Número de Teléfono*">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-input">
                                        <input type="email" placeholder="Email*">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-input">
                                        <input type="text" placeholder="Tipo de Servicio*">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-input">
                                        <textarea rows="4" placeholder="Tu mensaje"></textarea>
                                    </div>
                                    <div class="button mt-30">
                                        <button class="theme-btn1" type="button"><span class="text">Enviar
                                            </span><span class="arrow-all"><span class="arrow1"><i
                                                        class="fas fa-arrow-right"></i></span><span class="arrow2"><i
                                                        class="fas fa-arrow-right"></i></span></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-map-page">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.07403227391!2d-73.13015182500165!3d7.117419492886223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e683fb0f17cb515%3A0x63d2da92b4b4f915!2sVera%20Villamizar%20Abogados%20SAS!5e0!3m2!1ses!2sco!4v1763927928128!5m2!1ses!2sco"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space100"></div>