<app-page-header title="Blog Details Left" />

<div class="blog-sidebar-page sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <app-blog-detail-sidebar />
            </div>
            <div class="col-lg-8">
                <div class="details-content-all ml-40 sm:ml-0 md:ml-0 sm:mt-30 md:mt-30">
                    <app-blog-detail-content />

                </div>
            </div>

        </div>
    </div>
</div>

<app-more-blogs />