<div class="work5 sp shape-bg5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading5">
                    <span data-aos="fade-left" data-aos-duration="800" class="sub-title5">our work process</span>
                    <h2 class="black3 text-44 sm:text-30 md:text-30 leading-52 md:leading-36 sm:leading-36 font-semibold text-anime-style-3">Securing Future Made Simple</h2>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="700">
                <div class="work5-box mt-30">
                    <div class="icon-area">
                        <div class="icon">
                            <img src="assets/img/icons/work5-icon1.svg" alt="">
                        </div>
                        <p class="number">01</p>
                    </div>
                    <div class="content">
                        <h4><a routerLink="/case-details">Tell Us Your Needs</a></h4>
                        <p>We believe in making the advicx insurance process as simple an.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="900">
                <div class="work5-box mt-60 sm:mt-30">
                    <div class="icon-area">
                        <div class="icon">
                            <img src="assets/img/icons/work5-icon2.svg" alt="">
                        </div>
                        <p class="number">02</p>
                    </div>
                    <div class="content">
                        <h4><a routerLink="/case-details">Get Personalized Quote</a></h4>
                        <p>Take then time the review your options, we’ll walk you through.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1100">
                <div class="work5-box mt-90 md:mt-30 sm:mt-30">
                    <div class="icon-area">
                        <div class="icon">
                            <img src="assets/img/icons/work5-icon1.svg" alt="">
                        </div>
                        <p class="number">03</p>
                    </div>
                    <div class="content">
                        <h4><a routerLink="/case-details">Enjoy Peace of Mind</a></h4>
                        <p>Once you’re covered, we remain by your side with best ongoing.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
 </div>