<div class="tes5 sp _relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading5">
                    <span data-aos-duration="800" data-aos="fade-left" class="sub-title5">testimonial</span>
                    <h2
                        class="black3 text-44 sm:text-30 md:text-30 leading-52 md:leading-36 sm:leading-36 font-semibold text-anime-style-3">
                        Client Success Stories</h2>
                </div>
            </div>
        </div>
        <div class="mt-60">
            <app-testimonial-swiper buttonClass="tes5-arrows"/>
        </div>
    </div>
</div>