<div class="case1 sp" style="background-image: url(assets/img/bg/case1-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading1-w">
                    <span data-aos="fade-left" data-aos-duration="900"
                        class="white1 sec-bg3 rounded-6 p-8-12 text-18 leading-18 inline-block uppercase mb-20 font-medium">Casos
                        de Éxito</span>
                    <h2 class="text-44 white1 sm:text-30 md:text-30 leading-44 font-semibold text-anime-style-3">Así
                        Recuperamos Sus Derechos</h2>
                </div>
            </div>
        </div>
        <div class="space30"></div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="case1-box mt-30" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="image">
                        <img style="object-fit: cover; height: 100%; width: 100%;"
                            src="assets/img/others/case1-image1.webp" alt="Caso de Estudio">
                    </div>
                    <div class="content-area">
                        <a routerLink="/case-details" class="arrow"><i class="fas fa-arrow-right"></i></a>
                        <p class="black2 font-18 leading-18 font-medium mt-16 mb-16">Derecho Pensional</p>
                        <h4><a routerLink="/case-details"
                                class="black2 font-24 text _hover1 leading-24 font-semibold">Reliquidación Exitosa</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="case1-box mt-30" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="image">
                        <img style="object-fit: cover; height: 100%; width: 100%;"
                            src="assets/img/others/case1-image2.webp" alt="Caso de Estudio">
                    </div>
                    <div class="content-area">
                        <a routerLink="/case-details" class="arrow"><i class="fas fa-arrow-right"></i></a>
                        <p class="black2 font-18 leading-18 font-medium mt-16 mb-16">Derecho Laboral</p>
                        <h4><a routerLink="/case-details"
                                class="black2 font-24 text _hover1 leading-24 font-semibold">Nulidad de Traslado</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="case1-box mt-30" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                    <div class="image">
                        <img style="object-fit: cover; height: 100%; width: 100%;"
                            src="assets/img/others/case1-image3.webp" alt="Caso de Estudio">
                    </div>
                    <div class="content-area">
                        <a routerLink="/case-details" class="arrow"><i class="fas fa-arrow-right"></i></a>
                        <p class="black2 font-18 leading-18 font-medium mt-16 mb-16">Derecho Administrativo</p>
                        <h4><a routerLink="/case-details"
                                class="black2 font-24 text _hover1 leading-24 font-semibold">Reparación Directa</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="case1-box mt-30" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                    <div class="image">
                        <img style="object-fit: cover; object-position: 50% 40%; height: 100%; width: 100%;"
                            src="assets/img/others/case1-image4.webp" alt="Caso de Estudio">
                    </div>
                    <div class="content-area content2">
                        <a routerLink="/case-details" class="arrow"><i class="fas fa-arrow-right"></i></a>
                        <p class="black2 font-18 leading-18 font-medium mt-16 mb-16">Derecho Familiar</p>
                        <h4><a routerLink="/case-details"
                                class="black2 font-24 text _hover1 leading-24 font-semibold">Sucesión Tramitada</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="case1-box mt-30" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="image">
                        <img style="object-fit: cover; object-position: 50%; height: 100%; width: 100%;"
                            src="assets/img/others/case1-image5.webp" alt="Caso de Estudio">
                    </div>
                    <div class="content-area content2">
                        <a routerLink="/case-details" class="arrow"><i class="fas fa-arrow-right"></i></a>
                        <p class="black2 font-18 leading-18 font-medium mt-16 mb-16">Derecho Laboral</p>
                        <h4><a routerLink="/case-details"
                                class="black2 font-24 text _hover1 leading-24 font-semibold">Indemnización por
                                Despido</a>
                        </h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>