<div class="inner-hero bg-cover _relative">
    <div class="hero1-single-slider overflow-hidden _relative"
        style="background-image: url(assets/img/bg/hero1-bg.jpg);">

        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="mt-40 inner-heading _relative z-9">
                        <h1
                            class="text-56 md:text-40 sm:text-40 leading64 inline-block white1 font-semibold text-anime-style-3">
                            {{title}}</h1>
                        <div class="page-prog">
                            <a routerLink="/home-1">Inicio</a>
                            <p class="icon"><i class="fas fa-angle-right"></i></p>
                            <p>{{title}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="all-images _relative">
                        <!-- <div class="circle-area">
                            <div class="circle-arrow">
                                <a routerLink="/our-services"><img src="assets/img/icons/hero1-circle-arrow.svg" alt=""></a>
                            </div>
                            <div class="circle-bg round-circle">
                                <img src="assets/img/shapes/hero1-circle-bg.png" alt="">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="main-image">
            <img src="assets/img/hero/logo_vera.png" alt="">
        </div>
        <div class="main-image-shape">
            <img src="assets/img/shapes/hero1-shape.png" alt="">
        </div>
    </div>
</div>