<app-search-popup [isSearchOpen]="isSearchOpen" />
<header>
    <div id="vl-header-sticky" class="vl-header-area2 header-tranperent" stickyScroll>
        <div class="container header2-bg">
            <div class="header1-top pb-16 md:pb-0 sm:pb-0 d-none d-lg-block">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="black1 font-18 black2 leading-18 font-medium">Are you Ready to Free Business
                            Consulting Today? <a routerLink="/contact"
                                class="black2 font-18 leading-18 font-medium inline-block text _hover1 underline">Contact
                                Us</a></p>
                    </div>
                    <div class="col-lg-6">
                        <div class="header-contact-wedget">
                            <a href="mailto:advicxconsult@.com"
                                class="black2 font-18 leading-18 font-medium inline-block text _hover1"><img
                                    src="assets/img/icons/header-contact1.svg" alt=""> advicxconsult&#64;.com</a>
                            <a href="tel:2343454574"
                                class="black2 ml-30 font-18 leading-18 font-medium inline-block text _hover1"><img
                                    src="assets/img/icons/header-contact2.svg" alt=""> (234) 345-4574</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center pt-16 sm:pt-0 md:pt-0">
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="vl-logo">
                        <a routerLink="/home-1" class="header1-logo-block"><img src="assets/img/logo/header-logo1.png"
                                alt=""></a>
                        <a routerLink="/home-1" class="header1-logo-white"><img src="assets/img/logo/white-logo.png"
                                alt=""></a>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block">
                    <div class="vl-main-menu text-center">
                        <nav class="vl-mobile-menu-active">
                            <app-nav-item themeBtn="theme-btn2" />
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="vl-header1-right d-none d-lg-flex">
                        <div class="vl-search-top" (click)="openSearch()">
                            <button class="search-open-btn"><i class="fas fa-magnifying-glass"></i></button>
                        </div>
                        <div class="header2-social-wedget gap-1 d-flex align-items-center flex-wrap">
                            <a href="javascript:void(0)"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a>
                            <a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="javascript:void(0)"><i class="fa-brands fa-x-twitter"></i></a>
                        </div>
                    </div>
                    <div class="vl-header-action-item d-block d-lg-none">
                        <button type="button" class="vl-offcanvas-toggle" (click)="toggleMenu()">
                            <i class="fa-duotone fa-solid fa-bars-staggered"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<app-mobile-menu [isMenuOpen]="isMenuOpen" (closeMenuEvent)="closeMenu()" themeBtn="theme-btn2" />