<app-page-header title="Detalles de Caso de Estudio" />

<div class="case-detials sp _relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <app-case-sidebar />
            </div>
            <div class="col-lg-8">
                <div class="details-content-all ml-40 sm:ml-0 md:ml-0 sm:mt-30 md:mt-30">
                    <app-case-content />

                </div>
            </div>
        </div>
    </div>
</div>

<app-more-cases />