<div class="hero3 bg-cover" style="background-image: url(assets/img/bg/hero3-bg.jpg);">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-5">
            <div class="main-heading">
                <span class="sub-title text-18 leading-18 white1 uppercase mb-20 font-medium">Strategic Solutions For Financial Growth</span>
                <h1 class="text-56 md:text-40 sm:text-40 leading64 inline-block white1 font-semibold text-anime-style-3">Proactive Financial Solutions For Your Unique Of Goals</h1>
                <p class="mt-16 text-18 leading-26 inline-block gray5">We’re dedicated providing personalized every financial consulting service that empower you to takes control. </p>
                <div class="button mt-30">
                    <a class="theme-btn3" routerLink="/our/services"><span class="text">Start Your Financial Journey</span></a>
                </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hero3-images _relative">
                <div class="main-image">
                    <img src="assets/img/hero/hero3-main-image.png" alt="">
                </div>
                <div class="main-image-bg round-circle">
                  <img src="assets/img/shapes/hero3-image-bg.png" alt="">
                </div>
                <div class="shape1 animate3">
                    <img src="assets/img/shapes/hero3-shape1.png" alt="">
                </div>
                <div class="shape2 animate1">
                    <img src="assets/img/shapes/hero3-shape2.png" alt="">
                </div>
                <div class="shape3 animate2">
                    <img src="assets/img/shapes/hero3-shape3.png" alt="">
                </div>
                <div class="shape4 animate4">
                    <img src="assets/img/shapes/hero3-shape4.png" alt="">
                </div>
            </div>
          </div>
       </div>
    </div>
 </div>