<div class="cta4 _relative">
    <div class="container">
       <div class="rounded-16 _relative">
          <div class="row align-items-center cta4-bg">
             <div class="col-lg-6">
                <div class="heading"> 
                   <h2 class="black3 text-44 md:text-30 sm:text-30 leading-52 font-semibold text-anime-style-3">Expert Guidance for Every Step To Step the Journey</h2>
                </div>
             </div>
             <div class="col-lg-6">
                <div class="cta4-form _relative z-3">
                   <input type="email" placeholder="Email Address">
                   <button class="theme-btn5" type="submit"><span class="text">Submit Now</span><span class="arrow-all"><span class="arrow1"><img src="assets/img/icons/button4-arrow.svg" alt=""></span><span class="arrow2"><img src="assets/img/icons/button4-arrow.svg" alt=""></span></span></button>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>