<div class="about-page-brand sec-bg1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Conoce a las empresas e instituciones que han depositado su confianza en nuestra asesoría y respaldo legal estratégico.</p>
                <ngx-slick-carousel [config]="sliderConfig" class="about-brand-slider">
                    <div ngxSlickItem *ngFor="let image of companyImages" class="single-brand">
                        <img [src]="image" alt="Aliado Estratégico" style="max-height: 100px; width: auto; margin: 0 auto; mix-blend-mode: multiply;">
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</div>